@tailwind base;
@tailwind components;
@tailwind utilities;

/* Paleta personalizada */
:root {
    --color-dark: #0c1c32;
    --color-primary: #285e79;
    --color-light: #709db5;
    --color-accent: #9b814d;
}

/* Clases Bootstrap personalizadas */
.bg-custom-dark {
    background-color: var(--color-dark) !important;
}
.bg-custom-primary {
    background-color: var(--color-primary) !important;
}
.bg-custom-light {
    background-color: var(--color-light) !important;
}
.bg-custom-accent {
    background-color: var(--color-accent) !important;
}

.text-custom-dark {
    color: var(--color-dark) !important;
}
.text-custom-primary {
    color: var(--color-primary) !important;
}
.text-custom-light {
    color: var(--color-light) !important;
}
.text-custom-accent {
    color: var(--color-accent) !important;
}

.border-custom-dark {
    border-color: var(--color-dark) !important;
}
.border-custom-primary {
    border-color: var(--color-primary) !important;
}
.border-custom-light {
    border-color: var(--color-light) !important;
}
.border-custom-accent {
    border-color: var(--color-accent) !important;
}

.btn-custom-primary {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: white;
}

.btn-custom-primary:hover {
    background-color: var(--color-dark);
    border-color: var(--color-dark);
}

.btn-custom-accent {
    background-color: var(--color-accent);
    border-color: var(--color-accent);
    color: white;
}

.btn-custom-accent:hover {
    background-color: #8a6f3d;
    border-color: #8a6f3d;
}
